extends _base.pug

block link
	- var selected = "Lists";

block content
	- var galleries = [{"name":"10 meals under $10","photo":"http://www.trbimg.com/img-57ed21aa/turbine/bal-bs-ae-dining-guide-10-pho-bs0039289504-20130827/500/500x219","url":"http://www.baltimoresun.com/bal-dining-guide-10-meals-under-10-20160929-photogallery.html"},{"name":"25 best bars","photo":"images/galleries/bar-food.jpg","url":"#"},{"name":"Baltimore's best crab dishes","photo":"http://www.trbimg.com/img-57eec594/turbine/bal-baltimores-best-crab-dishes-20160930-001/500/500x219","url":"http://www.baltimoresun.com/bal-baltimores-best-crab-dishes-20160930-photogallery.html"},{"name":"Baltimore restaurants with the best ambiance","photo":"http://www.trbimg.com/img-57eecdd6/turbine/bal-baltimore-restaurants-with-the-best-ambian-001/500/500x219","url":"http://www.baltimoresun.com/bal-baltimore-restaurants-with-the-best-ambiance-20160930-photogallery.html"},{"name":"Favorite servers","photo":"images/galleries/personality.jpg","url":"#"},{"name":"Suzanne's favorite dishes","photo":"images/galleries/bar-food.jpg","url":"#"}];

	.container
	
		.galleries

			each gallery in galleries

				.gallery
					a(href=gallery.url target="_blank")
						.gallery__image
								img(width="500" src=gallery.photo)
						.gallery__name= gallery.name
